.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--color-white);
    user-select: none;

    +.wrapper{
        margin-left: 8px;
    }
}
.primary{
    background-color: var(--primary);
    color: var(--color-white);

    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}
.outline{
    border: 1px solid;
    color: var(--primary);
    border-color: var(--primary);

    &:hover{
        background-color: rgba(254, 44, 85, $alpha: 0.06);
    }
}
.text{
    :hover{
        text-decoration: underline;
    }
}
.small{
    min-width: 88px;
    padding: 4px 16px;
}

.large{
    min-width: 288px;
    padding: 14px 16px;
}
.disabled{
    opacity: 0.5;
    pointer-events: none;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}