.menu-item{
    width: 224px;
    
    .item-menu{
        margin-left: 0px;
    }
}
.pb-8{
    padding-bottom: 8px;
}

.item-menu{
    width: 100%;
    justify-content: start;
    border-radius: 0px;
    padding: 14px 16px;
    font-weight: 500;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}