.menu-item{
    width: 224px;
    
    .item-menu{
        margin-left: 0px;
    }
}
.pb-8{
    padding-bottom: 8px;
}

.item-menu{
    width: 100%;
    justify-content: start;
    border-radius: 0px;
    padding: 14px 16px;
    font-weight: 500;
    line-height: 1.8rem;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}


.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.btn-back {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
