.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.icon{
    margin-left: 8px;
    color:rgb(32, 213, 236);;
}
.name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

.desc {
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}
